@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
    background-color: #BDD3B6;
}

h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 56px;
    font-weight: bold;
}

.btn {
    background-color: #000;
    color: #fff;
    border: 0px;
    padding: 5%;
    border-radius: 50px;
    font-weight: bold;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

#fact-button-col {
    margin-top: 5%;
}

#picture-button-col {
    margin-top: 5%;
}

#random-cat-pic {
    margin-top: 15%;
}