@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    background-color: #BDD3B6;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#navbar {
    background-color: #BDD3B6 !important;
}

#navbar-logo {
    font-family: 'Amatic SC', sans-serif;
    font-size: 72px;
}

#cat-fact-wrapper {
    margin-left: 3%;
    margin-top: 5%;
}

h1 {
    font-size: 56px;
    text-transform: uppercase;
}

#cat-fact-button-row {
    margin-bottom: 10%;
}

.btn {
    background-color: #000;
    color: #fff;
    border: 0px;
    padding: 5%;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

#fact-button-col {
    margin-top: 5%;
}

#picture-button-col {
    margin-top: 5%;
}

#random-cat-pic {
    border-radius: 500px;
}