@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#navbar {
    background-color: #fff !important;
}

#navbar-logo {
    font-family: 'Amatic SC', sans-serif;
    font-size: 72px;
}

#cat-fact-wrapper {
    margin-top: 5%;
}


.card-title {
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    border-bottom: solid 1px #000;
    padding: 0% 0% 5% 0%;
}

#cat-fact-button-row {
    margin-bottom: 10%;
}

.btn-icon {
    background-color: #fff;
    border: 0px;
    padding: 5%;
    font-weight: bold;
    font-size: 56px;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

#fact-button-col {
    margin-top: 5%;
}

#picture-button-col {
    margin-top: 5%;
}

.card {
    border: solid 1px #000;
    margin: 0% 0% 10% 0%;
}

.card-text {
    text-align: justify;
    padding: 10% 0% 10% 0%;
    border-bottom: solid 1px #000;
}